
{% if site.syntax-highlight and page.section-type == "post"%}

  <!-- Syntax highlight in post pages -->

<!--   <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai-sublime.min.css"> -->
<!--        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.4.1/github-markdown.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/solarized-dark.min.css" />
  
<!--   <link rel="stylesheet" href="{{site.baseurl}}/css/rouge.css" /> -->
{% endif %}
